@{
    ViewBag.Title = "Контакты";
}

<!DOCTYPE html>
<style>
    body {
        background: #E3F2FD;
    }
    </style>

    <head > <style type="text/css" > .acc {
        margin: 20px;
    }
</style>

</head>
<body>
    <div class="row">
        <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
            <div class="acc">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">1. Описание системы</a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <ul class="list-unstyled">
                                    <li>
                                        Цели:
                                        <ul>
                                            <li>Предоставить инструмент для проведения аудита на рабочих местах</li>
                                            <li>Ввести удобную систему фиксации дефектов</li>
                                            <li>Оповещать работника о допущенном при производстве дефекте в режиме реального времени</li>
                                            <li>Оптимизировать процесс регистрации работника в начале (конце) рабочего дня</li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">2. Функции системы</a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul class="list-unstyled">
                                    <li>
                                        Функции:
                                        <ul>

                                            <li>Авторизация работника непосредственно на рабочем месте</li>
                                            <li>Демонстрация производственных инструкций в удобной форме</li>
                                            <li>Оповещение о регистрации дефекта в режиме реального времени</li>
                                            <li>Проведение аудита на рабочих местах</li>
                                            <li>Фиксация дефектов по методу</li>
                                            <li>Прохождение работниками визуальных тестирований</li>
                                            <li>Мотивирование работников за счет расчета Коэффициента Личного Вклада</li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <address>
                        г. Липецк<br />
                        п. Матырский, ул. Энергостроителей <br />
                        <abbr title="Phone">Телефон:</abbr>
                        +79092220770, +79969299747
                    </address>
                    <address>
                        <strong>Поддержка(#1):</strong><a href="mailto:merenkov_dmitry@mail.ru">merenkov_dmitry@mail.ru</a><br />
                        <strong>Поддержка(#2):</strong><a href="mailto:patrin48rus@ya.ru">patrin48rus@ya.ru</a>
                    </address>
                </div>
            </div>
        </div>
    </div>
</body>
