@{
    ViewBag.Title = "Тесты";
}

<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <div>
        <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
            <img src="~/Content/google2bforms.jpg" class="img-rounded"  width="300" height="100">
        </div>
    </div>
</body>
</html>
