<style type="text/css">
    .bs-example {
        margin: 20px;
    }
    .text
    {
        
    }
</style>

<div class="container">
    <div class="row">
        <div class="bs-example">
            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
                <div class="alert alert-info fade in text" align="center" style="padding-top:25px">Пусто! Инструкции (видеофайлы) отсутствуют!</div>
            </div>
        </div>
    </div>
</div>